<div ng-controller="userController">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">Together.</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/howto">how to</a>
                    </li>
                    <li ng-hide="auth.isAuth">
                        <a href="#/signup">register</a>
                    </li>
                    <li ng-show="auth.isAuth && !auth.isAdmin">
                        <a href="#/activities">activities</a>
                    </li>
                    <li ng-show="auth.isAuth && !auth.isAdmin">
                        <a href="#/matches">matches</a>
                    </li>
                    <li ng-show="auth.isAuth && !auth.isAdmin">
                        <a href="#/searchprofiles">search profiles</a>
                    </li>
                    <li>

                        <button class="btn-dropdown dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                                ng-show="auth.isAuth">

                            {{user.firstname}} {{user.lastname}} <b class="caret"></b>

                        </button>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#/myprofile">My profile</a></li>
                            <li><a tabindex="-1" href="/logout">Logout</a></li>
                            <li ng-show="auth.isAuth && auth.isAdmin" class="divider"></li>
                            <li ng-show="auth.isAuth && auth.isAdmin"><a tabindex="-1" href="#/{{user.username}}">Admin
                                page</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <section ng-init="getDetailActivity(user.username)" ng-hide="(!auth.isAuth)">
        <!-- Introduction Row -->
        <div class="title text-center">
            <h1>{{arrDetailsActivity.activityName}}</h1>

            <div class="row">
                <div class="col-sm-6">
                    <div class="col-lg-12 shadow">
                        <div class="info text-center ">
                            <a ng-show="auth.isAuth && auth.isAdmin" href="#/admin" class="btn-dropdown text-left">back</a>
                            <a ng-hide="auth.isAuth && auth.isAdmin" href="#/activities" class="btn-dropdown text-left">back</a>
                            <h2 class="text-center">Information about event</h2>
                                <div class="text-left">
                                <label>Place</label>

                                <p>{{arrDetailsActivity.street}} {{arrDetailsActivity.number}},
                                    {{arrDetailsActivity.zipcode}}<span class="fa fa-map-marker fa-pull-right"></span>
                                </p>
                                <label>From</label>
                                <p> {{arrDetailsActivity.fromDate}}</p>

                                <label>Until</label>
                                <p> {{arrDetailsActivity.untilDate}}</p>

                                <label>Created by</label>
                                <p>{{arrDetailsActivity.user}}</p>

                                <label>Keywords</label>
                                <p ng-show="arrDetailsActivity.description !== undefined && arrDetailsActivity.description != ''">{{arrDetailsActivity.description}} <!-- Keywords --><span class="fa fa-hashtag fa-pull-right"></span>
                                </p>
                                <p ng-hide="arrDetailsActivity.description !== undefined && arrDetailsActivity.description != ''">No keywords <!-- Keywords --><span class="fa fa-hashtag fa-pull-right"></span>
                                </p>

                                <label>Interested</label>
                                <p>{{arrDetailsActivity.matches.length}}
                                        <span ng-show="(arrDetailsActivity.matches.length) === 1"> person </span>
                                        <span ng-hide="(arrDetailsActivity.matches.length) === 1"> people </span>
                                        interested
                                        <span class="fa fa-star fa-pull-right"></span>
                                </p>
                                <!--<p>{{activity.participants}}<span class="fa fa-check fa-pull-right"></span></p>-->
                                </div>
                                <button ng-hide="arrDetailsActivity.user == user.username " class="btn center-block btna" name="checkEvent" ng-click="interested(arrDetailsActivity.activityName,user.username, user.username)" >{{nameButton}}</button>
                                <a ng-show="arrDetailsActivity.user == user.username" class="btn center-block btna" name="checkEvent">Edit</a>

                        </div>
                        </div>
                    </div>
                <div class="col-sm-6">
                    <div ng-init="getDetailActivity()" id="map" ></div>
                </div>
            </div>

        </div>


    </section>
    <section ng-show="(!auth.isAuth)">
        <div class="title text-center">

            <h1>You are not allowed on this page.</h1>

            <p><a href="#/home">Return to home-page</a></p>

            <img src="../images/title_line.png">


        </div>

    </section>

</div>


