<!-- Navigation -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/admin" title="Link to the admin page." ng-hide="(auth.isAuth && !auth.isAdmin) || (!auth.isAuth)">Together.</a>
            <a class="navbar-brand" href="#/home" title="Link to the home page." ng-show="(auth.isAuth && !auth.isAdmin) || (!auth.isAuth)">Together.</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-controller="userController">
                <li>
                    <a href="#/howto" title="Link to the how to page.">how to</a>
                </li>
                <li ng-hide="auth.isAuth">
                    <a href="#/signup" title="Link to the signup page.">register</a>
                </li>
                <li ng-show="auth.isAuth && !auth.isAdmin">
                    <a href="#/activities" title="Link to the activities page.">activities</a>
                </li>
                <li ng-show="auth.isAuth && !auth.isAdmin">
                    <a href="#/matches" title="Link to the matches page.">matches</a>
                </li>
                <li ng-show="auth.isAuth && !auth.isAdmin">
                    <a href="#/searchprofiles" title="Link to the search profiles page.">search profiles</a>
                </li>
                <li>

                    <button class="btn-dropdown dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                            ng-show="auth.isAuth">

                        {{user.firstname}} {{user.lastname}} <b class="caret"></b>

                    </button>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#/myprofile" title="Link to your profile page.">My profile</a></li>
                        <li><a tabindex="-1" href="/logout" title="Link to logout.">Logout</a></li>
                        <li ng-show="auth.isAuth && auth.isAdmin"  class="divider"></li>
                        <li ng-show="auth.isAuth && auth.isAdmin"><a tabindex="-1" href="#/{{user.username}}" title="Link to the admin page.">Admin page</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="title text-center">
    <h1>How to use Together</h1>

    <div class="empty">

    </div>
</div>

<div class="row shadow">

    <div class="col-lg-12 howTo">
        <div class="col-lg-6 text-center">

            <div class="vcenter">
            <p>You want to go to an event</p>
            <p>But you don't want to go alone</p>
            <p>Use Together</p>
            </div>

        </div>
        <div class="col-lg-6 text-center ">
            <img src="../images/step1.png" />

        </div>

    </div>
    <div class="col-lg-12 ">
        <div class="col-lg-6 text-center">

            <img src="../images/step2.png" />

        </div>
        <div class="col-lg-6 text-center ">
            <div class="vcenter">
                <p>1. Add a new activity</p>
                <p>2. See your matches</p>
            </div>


        </div>

    </div>
    <div class="col-lg-12 ">
        <div class="col-lg-6 text-center">

            <div class="vcenter">
                <p>3. Make new friends and chat</p>
                <p>4. Enjoy the event together</p>
            </div>

        </div>
        <div class="col-lg-6 text-center ">
            <img src="../images/step3.png" />
        </div>

    </div>

    <div class="text-center">
        <h2>That's how easy it is! <a href="#/signup" title="Link to the signup page.">Join Together now</a></h2>
    </div>


</div>


