<div ng-controller="userController">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/admin" ng-hide="(auth.isAuth && !auth.isAdmin) || (!auth.isAuth)">Together.</a>
            <a class="navbar-brand" href="#/home" ng-show="(auth.isAuth && !auth.isAdmin) || (!auth.isAuth)">Together.</a>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" ng-controller="userController">
                <li>
                    <a href="#/howto">how to</a>
                </li>
                <li ng-hide="auth.isAuth">
                    <a href="#/signup">register</a>
                </li>
                <li ng-show="auth.isAuth && !auth.isAdmin">
                    <a href="#/activities">activities</a>
                </li>
                <li ng-show="auth.isAuth && !auth.isAdmin" class="active">
                    <a href="#/matches">matches</a>
                </li>
                <li ng-show="auth.isAuth && !auth.isAdmin">
                    <a href="#/searchprofiles">search profiles</a>
                </li>
                <li>

                    <button class="btn-dropdown dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" ng-show="auth.isAuth">

                        {{user.firstname}} {{user.lastname}} <b class="caret"></b>

                    </button>

                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#/myprofile">My profile</a></li>
                        <li><a tabindex="-1" href="/logout">Logout</a></li>
                        <li ng-show="auth.isAuth && auth.isAdmin"  class="divider"></li>
                        <li ng-show="auth.isAuth && auth.isAdmin"><a tabindex="-1" href="#/{{user.username}}">Admin page</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section ng-controller="MatchesController" data-ng-init="showMatches()" ng-hide="(!auth.isAuth)">
    <!-- Introduction Row -->
    <div class="title text-center">
        <h1>Together.</h1>

        <p>Matches</p>
        <img src="../images/title_line.png">
    </div>
    <div class="line"></div>

    <div class="text-center">
        <h2 ng-show="arrMatches.length === 1">{{arrMatches.length}} match</h2>
        <h2 ng-hide="arrMatches.length === 1">{{arrMatches.length}} matches</h2>
    </div>

    <div class="text-right">

        <button ng-click="showDiv()" class="btn-dropdown">filter <b class="caret"></b></button>

    </div>


    <div class="row shadow" ng-show="filter.showFilter">

        <div class="col-sm-4">
            <div class="col-lg-12">
                <label for="sortOn">Sort from:</label>
                <select id="sortOn" class="form-control" ng-model="sortProperty">
                    <option value="username">A - Z</option>
                    <option value="-username">Z - A</option>
                </select>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-lg-12">
                <label><input type="radio" name="sex" value="male" ng-model="filterQuery"> male</label>
                <label><input type="radio" name="sex" value="female" ng-model="filterQuery"> female</label>
                <label><input type="radio" name="sex" value="nofilter" ng-model="filterQuery"> no filter</label>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-lg-12">
                <button class="btn btna" ng-click="hideDiv()">Ok</button>
            </div>
        </div>

    </div>

    <div class="row_dynamic" ng-controller="ProfilesController">

        <div class="item" ng-repeat="match in arrMatches | orderBy:sortProperty | filter: filterMatches">

            <div class="box">

                <img class="img-circle img-responsive img-center" ng-src="{{match.img}}" height="100" width="100">
                <h2 class="text-center">{{match.username}}</h2>
                <div class="info text-center ">
                    <div  class="text-left">

                        <p ng-show="match.sex">{{match.sex}}<span class="fa fa-venus-mars fa-pull-right"></span> </p>
                        <p ng-hide="match.sex">no gender<span class="fa fa-venus-mars fa-pull-right"></span> </p>

                        <p ng-show="match.zipcode">{{match.zipcode}}<span class="fa fa-map-marker fa-pull-right"></span></p>
                        <p ng-hide="match.zipcode">no zipcode<span class="fa fa-map-marker fa-pull-right"></span></p>

                        <p ng-show="match.birthdate">{{match.birthdate}}<span class="fa fa-birthday-cake fa-pull-right"></span> </p>
                        <p ng-hide="match.birthdate">no birthdate<span class="fa fa-birthday-cake fa-pull-right"></span> </p>

                        <p ng-show="match.interests.toString()">{{match.interests.toString()}}<span class="fa fa-heart fa-pull-right"></span></p>
                        <p ng-hide="match.interests.toString()">no interests<span class="fa fa-heart fa-pull-right"></span></p>

                        <p ng-show="match.biography">{{match.biography}}<span class="fa fa-comment fa-pull-right"></span></p>
                        <p ng-hide="match.biography">no biography<span class="fa fa-comment fa-pull-right"></span></p>

                    </div>
                </div>
                <button ng-click="startChat(user, match)" class="btn-inverse col-md-12"><span class="fa fa-comment fa-align-center"></span></button>

            </div>

        </div>

    </div>

    <div class="row elements">

    <!--
        <div class="col-sm-4">
            <div class="col-lg-12 shadow ">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name match</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>interests<span class="fa fa-heart fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn-inverse col-md-12"><span class="fa fa-comment fa-align-center"></span></button>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-lg-12 shadow ">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name match</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>interests<span class="fa fa-heart fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn-inverse col-md-12"><span class="fa fa-comment fa-align-center"></span></button>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-lg-12 shadow ">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name match</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>interests<span class="fa fa-heart fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn-inverse col-md-12"><span class="fa fa-comment fa-align-center"></span></button>
            </div>
        </div>

    -->

    </div>
</section>
<section ng-show="(!auth.isAuth)">
    <div class="title text-center">

        <h1>You are not allowed on this page.</h1>
        <p><a href="#/home">Return to home-page</a></p>

        <img src="../images/title_line.png">


    </div>

</section>
</div>