<section ng-controller="ActivitiesController" data-ng-init="showActivities()">
    <!-- Introduction Row -->
    <div class="title text-center">
        <h1>Together.</h1>

        <p>Activities</p>
        <img src="../images/title_line.png">
    </div>
    <div class="line"></div>

    <!--
    <div class="text-center">
        <h2>{{aantalMatches}} matches</h2>
    </div>
    -->


    <div class="row ">

        <div class="col-sm-4" ng-repeat="activity in arrActivities">
            <div class="col-lg-12 shadow">
                <img class="img-circle img-responsive img-center" ng-src="{{activity.img}}" height="100" width="100">
                <h2 class="text-center">{{activity.name}}</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>{{activity.place}}<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>{{activity.keywords}}<span class="fa fa-heart fa-pull-right"></span></p>
                        <p>{{activity.participants}}<span class="fa fa-check fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn center-block" name="checkEvent">Check event</button>
            </div>
        </div>

    <!--

    <div class="row">

        <div class="col-sm-4">
            <div class="col-lg-12 shadow">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name event</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>keywords<span class="fa fa-heart fa-pull-right"></span></p>
                        <p>participants<span class="fa fa-check fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn center-block" name="checkEvent">Check event</button>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-lg-12 shadow">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name event</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>keywords<span class="fa fa-heart fa-pull-right"></span></p>
                        <p>participants<span class="fa fa-check fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn center-block" name="checkEvent">Check event</button>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-lg-12 shadow">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name event</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>keywords<span class="fa fa-heart fa-pull-right"></span></p>
                        <p>participants<span class="fa fa-check fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn center-block" name="checkEvent">Check event</button>
            </div>
        </div>



    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="col-lg-12 shadow">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name event</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>keywords<span class="fa fa-heart fa-pull-right"></span></p>
                        <p>participants<span class="fa fa-check fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn center-block" name="checkEvent">Check event</button>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-lg-12 shadow">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name event</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>keywords<span class="fa fa-heart fa-pull-right"></span></p>
                        <p>participants<span class="fa fa-check fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn center-block" name="checkEvent">Check event</button>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="col-lg-12 shadow">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/100x100" height="100" width="100">
                <h2 class="text-center">Name event</h2>
                <div class="info text-center ">
                    <div  class="text-left">
                        <p>place<span class="fa fa-map-marker fa-pull-right"></span> </p>
                        <p>keywords<span class="fa fa-heart fa-pull-right"></span></p>
                        <p>participants<span class="fa fa-check fa-pull-right"></span></p>
                    </div>
                </div>
                <button class="btn center-block" name="checkEvent">Check event</button>
            </div>
        </div>
-->
    </div>


</section>
